
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}

.block-item{
    --s: 320px;   /* the size of the image */
  --b: 2px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: white; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;

}

.block-item:hover{
   outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}




